html, body { height: 100%; padding: 0; margin: 0; }

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;

  font-size: 7vmax;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
}
.pt-page p {
  margin: 0 0 1em 0;
  line-height: 7vmax;
}
.pt-page em {
  font-style: italic;
}
.pt-page footer {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 3.5vmax;
  text-transform: lowercase;
}

.pt-page-1 {
  background-color: #242021;
  background-image: url('bgs/concrete_wall.png');
}
.pt-page-1 blockquote {
  color: #FD6E32;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;
  width: 70%;
  height: 50%;
}
.pt-page-1 em {
  color: #F9ECD9;
}

.pt-page-2 {
  background-color: #052336;

}
.pt-page-2 blockquote {
  color: #F73445;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;
  width: 70%;
  height: 50%;
}
.pt-page-2 em {
  color: #FCFAD7;
}






